*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background-color: white;
}   
.container{   
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
}   
.M{   
    padding: 15px 20px;
    border: 10px solid white;
    background-color: rgb(243, 50, 243);
    font-size: 1.5rem;  
    color: white;
    font-weight: 500;
    border-radius: 5px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}   
.heading{   
    color: aqua;
}